<ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>

    <ul id="messages1"></ul>
    <form id="form1" action="">
      <input id="input1" autocomplete="off" /><button>Send</button>
    </form>